.form {
    padding: 2rem;
    border-radius: 0.3rem;
    box-shadow: $shadow1;

    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    border: 1px solid lightgray;

    > *:not(:last-child) {
        margin-bottom: 1rem;
    }
}
