// Colors
$primary: #183b6f;
$secondary: #3174d2;
$gray: #858585;

// Borders
$border1-black: 1px solid black;
$border-input: 1px solid lightgray;

// Fonts
$font1: 'Roboto';
$font2: 'Montserrat';
$font3: 'Playfair Display';

// Shadows
$shadow1: 0 0 8px 2px lightgray;
$shadow2: 0 0 10px 2px $gray;
